

.nav_icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(125.18deg, #0089FF -0.02%, #5CCCFF 127.1%);
    /* position: absolute; */
    margin-top: 10px;
    left:50%;
    top:0%;
    margin: 10px auto 0 auto;
    z-index: 99999999999999999999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background: linear-gradient(125.18deg, #0089FF -0.02%, #5CCCFF 127.1%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 80px;    
    color : white;


}

.navbar-collapsed {
    background-color: whitesmoke;
}

.brand_title
{
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: 0px;
    color: white;
    font-size: 30px;
    margin-top: 100px;

}

.nav-link{
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    margin-right: 20px;



}


.contnet_centered{
    justify-content: center;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav{
        text-align: center;
    }
}